{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/style.css"/>
   <title> About Childhood Project </title>
</head>

<body>
    <div class="about_back">
        <div class="breadcrumb">
            <a href="/"> Tiny Library </a> / <a href= "/archive"> Archive </a>
        </div>
        <div class="page_title1">
            <h4> About Childhood Project </h4>
            <h5>Acknowledgement:</h5>
            <h6>Group Members: Kelly Tsai, Sunny Hsu, Yiran Li, Meixin Ma, Peter Chen</h6>
            <h6>Professor: Kea Johnston</h6>
            <h6>Class: DIGHUM 150A</h6>
            <h6>Date: 8/9/2023</h6>
        </div>
        <h5>About Our Collection</h5>
        <div class="intro">
            On this website, we digitize items that we often saw in our childhoods (being around the early 2000s) that were once very prevalent, 
            but are rarely seen or have become obsolete in the current age. These items include a piggy bank, landline phone, Wii, Radio, and a DS.
            With the collection of items chosen, they cover a fairly considerable range in fields and uses, from finances to communication to 
            entertainment. However, they have all become less seen due to the quickly evolving nature of technology. Although technological 
            advancements have been made all throughout history, even within the past couple of decades, we have seen the rise and fall of certain 
            items and trends while growing up. 
        </div>
        <h5>Why This Collection</h5>
        <div class="intro">
            As mentioned prior, while technological have continued to improve and alter our ways of life, we would like to take the time to remember
            how we have reached such a point. Although it has only been a couple of decades, it is interesting to observe how quickly some of these 
            items have been traded for others. Our team members consist of people born in the early 2000s so we have a lot of fond memories of these 
            items so this collection serves not just as a way to digitally preserve these items, but also for those of the future to look back on and
            see how much has changed since. After all, even though the 2000s still feel fairly recent, these items will undoubtedly become artifacts 
            for future generations. Additionally, the topic also seems fitting considering how the y2k trend has recently made a comeback. Another big
            factor contributing to our choice in this topic was because despite our team members growing up and obtaining these items in various locations
            around the world, as seen by the purchase location and prices written for each item, we can see how these items have played important factors
            in our childhood memories. These items were not just popular in one particular country, but are also a form of shared memories for those around
            the world from this generation.
        </div>
    </div>
</body>
</html>
{% endblock %}