{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page_title1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/style.css"/>
    <title> 2000s Popular Items </title>
   <h1> Objects Popular in Our Childhood (2000s) </h1>
</div>
<div class="welcome">
    <p>
        Welcome to our time capsule of popular items from our team's childhoods. Our collection features various items that we had once seen 
        commonly throughout the early 2000s but have sadly since fallen to near obscurity. We hope that this collection brings back some
        childhood nostalgia as well as a reminder of how things have progressed since. 
    </p>
</div>
<div class = "home_background">
    <img src="media/photographs/y2k.jpg" alt="y2k style wallpaper" width="1880" height="696"/>
</div>

<div class = "title_link">
<ul>
    <li><a href="archive/">Archives</a> </li>
    <li> <a href="about/"> About Us </a></li>
</ul>
</div>

{% endblock %}